* {
  font-family: 'Play', sans-serif;
  font-size: 1.1em;
}

#outerContainer {
  background-color: darkgrey;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#calculatorContainer {
  background-color: lightgray;
  margin: auto;
  border: 0.1em solid black;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: 
  "screen screen screen screen screen"
  "seven eight nine clear divide"
  "four five six multiply multiply"
  "one two three subtract subtract"
  "zero decimal equals add add";
}

#screenContainer {
  background-color: white;
  grid-area: screen;
  border: 0.2em solid black;
  text-align: end;
}

#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#zero {grid-area: zero;}
#decimal {grid-area: decimal;}
#equals {
  grid-area: equals;
  background-color: red;
  width:4em;
}
#divide {grid-area: divide;}
#multiply {grid-area: multiply;}
#subtract {grid-area: subtract;}
#add {grid-area: add;}
#clear {grid-area: clear;}

.button, .symbal {
  border: 0.1em solid white;
  min-height: 3em;
}

.button {
  background-color: dimgrey;
  width: 4em;
  
  text-align: center;
}
.symbal {
  background-color:skyblue;
}